.profile__info {
  max-width: 336px;
  padding-top: 22px;
  padding-left: 30px;
}

@media screen and (max-width: 918px) {
  .profile__info {
    max-width: 282px;
    width: 100%;
    padding-top: 26px;
    padding-left: 0;
  }
}